/* IMPORTS FONTS */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
/* BASIC RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body , html {
  font-size: 16px;
  font-family: 'Karla', sans-serif;
  height: 100vh;
  background-color: hsl(204, 43%, 93%);
}

/* CONTAINER */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 90vh;
}

/* WRAPPER */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "box-presentation box-presentation"
  "box-offer box-about";
  min-height: 300px;  
  max-width: 700px;
  width: 80vw;
  line-height: 1.3rem;
  margin: auto;
  z-index: 2;
}

/* PRESENTATION */
.box-presentation {
  background: #FFF;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 5rem 3rem 3rem;
  grid-area: box-presentation;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.presentation-title {
  color:hsl(179, 62%, 43%);
}
.presentation-subtitle {
  color:hsl(71, 73%, 54%);
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-weight: 800;
}
.presentation-text {
  color:hsl(218, 22%, 67%);
}
p.presentation-text {
  line-height: 1.8;
}

/* OFFER */
.box-offer {
  background-color: hsl(179, 96%, 33%);
  color: white;
  padding: 2rem 3rem 2rem;
  grid-area: box-offer;
  border-bottom-left-radius: 5px;
}
.offer-title {
  padding-bottom: 2rem;
}
.price {
  font-size: 2rem;
}
.offer-description {
  padding-top: 1.5rem ;
  padding-bottom: 2rem;
}
.button {
  background-color: hsl(71, 73%, 54%);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  margin-top: 2 rem;
  cursor: pointer;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


/* ABOUT */
.box-about {
  background-color: hsl(179, 62%, 43%);
  grid-area: box-about;
  padding: 2rem 3rem;
  color: white;
  border-bottom-right-radius: 5px;
}

.box-about li {
  list-style: none;
  line-height: 1.4;
  cursor: pointer;
}

.box-about a {
  text-decoration: none;
  color: white;
}

.box-about :hover {
  color: hsl(71, 73%, 54%);
  opacity: 1;
}


/* MEDIA QUERIES */
@media screen and (max-width: 760px) {
  .wrapper {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: none;
      max-width: 100vw;
      grid-template-areas:
      "box-presentation"
      "box-offer"
      "box-about";
  }